DB_NAME=smartgob_gproyectos
DB_USER=smartgob
DB_PASSWORD=SmartG0b2026!
DB_PORT=5432
API_PORT=8081
JWT_SECRET=cH4nG3tH1sS3cr3tK3y!SmartGob2026MustBe256BitsLong!!
APP_TIMEZONE=America/Guayaquil
CORS_ORIGINS=http://localhost:3000
UI_PORT=3000
